config service 'prometheus'

       option enabled 0

       # Prometheus configuration file path.
       option config_file '/etc/prometheus/prometheus.yml'

       # Address to listen on for UI, API, and telemetry.
       # option web_listen_address '0.0.0.0:9090'

       # Maximum duration before timing out read of the request, and closing idle connections.
       # option web_read_timeout 5m

       # Maximum number of simultaneous connections.
       # option web_max_connections 512

       # Path to the console library directory.
       option web_console_libraries '/etc/prometheus/console_libraries'

       # Path to the console template directory, available at /consoles.
       option web_console_templates '/etc/prometheus/consoles'

       # How long to retain samples in the storage.
       option storage_tsdb_retention 5y

       # Base path for metrics storage.
       option storage_tsdb_path '/data/prometheus'
