config prometheus-collectd-exporter 'main'

       # Network address on which to accept collectd binary network packets, e.g. ":25826"
       option collectd_listen_address ':25826'

       # Address on which to expose metrics and web interface.
       option web_listen_address ':9103'

       # Size of the receive buffer of the socket used by collectd binary protocol receiver.
       option collectd_udp_buffer 0

       # File mapping user names to pre-shared keys (passwords).
       # option collectd_auth_file ''

       # Minimum required security level for accepted packets. Must be one of "None", "Sign" and "Encrypt"
       # option collectd_security_level ''

       # Collectd types_db file for datasource names mapping. Needed only if using a binary network protocol.
       # option collectd_typesdb_file ''

       # Path under which to expose Prometheus metrics.
       # option web_telemetry_path ''

       # Path under which to accept POST requests from collectd.
       # option web_collectd_push_path ''

       # Only log messages with the given severity or above. Valid levels: [debug, info, warn, error, fatal]
       # option log_level ''

       # Set the log target and format. Example: "logger:syslog?appname=bob&local=7" or "logger:stdout?json=true"
       # option log_format ''